nav
	.container
		button.fa.fa-bars
		button.fa.fa-times
		ul.navigation
			li: a(href=to_home) Home
			ul
				li: a(href=to_drlogic) DrLogic
				li: a(href=to_apap) Apap
				li: a(href=to_presidente) Presidente
				li: a(href=to_bpr) BPR Bank
			li: a(href=to_tests) Prototypes

		.links
			a.fa.fa-linkedin(href=linkedin, target="_blank", alt="Linkedin Profile")
			a.fa.fa-codepen(href=codepen, target="_blank", alt="Codepen Profile")