doctype html
html
	head
		include jade/vars
		include jade/functions
		include jade/metatags
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
		link(href="css/home.css", rel="stylesheet")
		link(href="css/vendor/venobox.css", rel="stylesheet")
		include jade/analytics

	body
		aside.loading
		include jade/nav

		main(ng-app="gallery", ng-controller="galleryController as ctr")

			header
				.container
					h1
						| Hi, My name is Miguel Rivas.
						br
						| I'm a Frontend Developer living in Washington, DC.
					input(
						type="text"
						placeholder="Filter Projects By"
						ng-model="search"
					)
					button(ng-click="search = ''").video-f All Projects
					button(ng-click="search = 'Case'").all Top Projects
					button(ng-click="search = 'Frontend'").code HTML / CSS / JS
					button(ng-click="search = 'Motion Graphics'").video-f Motion Graphics
					button(ng-click="search = 'Design'").design Design

			section.gallery(ng-class="newClass")

				a(
					ng-repeat="data in filteredData | filter:search | orderBy:['-date']",
					ng-href="{{data.url}}",
					ng-class="{ 'venobox vbox-item':data.isVideo }",
					target="{{data.target}}",
					class="{{data.bgColor}}",
					data-vbtype="{{data.isVideo && 'vimeo' || '' }}",
					data-autoplay="{{data.isVideo}}"
				)
					img(ng-src="img/3d/{{data.preview}}.png")
					.hover
						h2 {{ data.title }} /
							em  {{ data.type }}
							time {{ data.date }}
						ul
							li(ng-repeat="element in data.summary | orderBy") {{element}}

		script(src="js/vendor/jquery-1.11.2.min.js")
		script(src="js/vendor/venobox.min.js")
		script(src="js/application_cases.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js")
		script(src="js/projects.js")
		script(src="js/projects_db.js")